/*
|----------------------------------------------------------------------------
| 1. General Style
|----------------------------------------------------------------------------
*/

html, html a {
    text-rendering: optimizeLegibility !important;
 	-webkit-font-smoothing: antialiased !important;
}
body{
	background: cyan;
	text-align: center;
}
h1{
	color: #fff;
}